{% extends 'core/base.html' %}
{% block title %}
    <title>skill</title>
    {% endblock title %}
{% block content %} 
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">Skills</h1>
<div class="row text-white"> 
    <div class="col-sm-5">
        <h3 class="mt-3">HTML/CSS</h3>
        <div class="progress">
            <div class="progress-bar bg-danger" style="width:100%"
            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
            100%</div>
        </div>
    </div>
    <div class="col-sm-5 offset-sm-2">
        <h3 class="mt-3">JavaScript</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated " style="width:80%"
            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
            80%</div>
        </div>
    </div>
</div>
<div class="row text-white"> 
    <div class="col-sm-5">
        <h3 class="mt-3">C</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated " style="width:95%"
            aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
            95%</div>
        </div>
    </div>
    <div class="col-sm-5 offset-sm-2">
        <h3 class="mt-3">C++</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated " style="width:90%"
            aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
            90%</div>
        </div>
    </div>
</div>
<div class="row text-white"> 
    <div class="col-sm-5">
        <h3 class="mt-3">JAVA </h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated " style="width:85%"
            aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
            85%</div>
        </div>
    </div>
    <div class="col-sm-5 offset-sm-2">
        <h3 class="mt-3">JAVA EE</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated " style="width:80%"
            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
            80%</div>
        </div>
    </div>
</div>
<div class="row text-white"> 
    <div class="col-sm-5">
        <h3 class="mt-3">PYTHON</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated " style="width:90%"
            aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
            90%</div>
        </div>
    </div>
    <div class="col-sm-5 offset-sm-2">
        <h3 class="mt-3">PYTHON+Django</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated " style="width:80%"
            aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
            80%</div>
        </div>
    </div>
</div>
</div>
{% endblock content %}